@font-face {
    font-family: 'Kosugi Maru';
    src: url('/static/fonts/KosugiMaru-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
article {
    display: block;
    background-color: #F7F7F7;
 }
 
 .dark .home-section {
    background: #F7F7F7;
    padding-top: 1rem;
}

body.dark {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

body.dark:hover {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
    transition:none;
}

.dark .author-card .card-title, .dark .author-card .card-title a {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.page-body {
    flex-grow: 1;
    background-color: #F7F7F7;
}

.dark .author-card .card-subtitle {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.dark ul.network-icon:hover {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: none;
    color: #2a2400;
}

.card-simple .article-title, .media.stream-item .article-title {
    font-size: 1.2rem;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.card.h4 .card-text.h4 {
    padding: 0.75rem 1rem;
    color: blue;
}

.dark .article-title a {
    color: #2a2400;
}

.dark .article-title a:hover {
    color: #5d5151;
}

.dark a strong:hover {
    color: #2a2400;
}

.dark a.summary-link {
  color: #2a2400;
  text-decoration: none;
  transition: none;
}

.dark a.summary-link:hover {
    color: #5d5151;
    text-decoration: none;
    transition: none;
}

.article-style:hover {
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    transition: none;
    text-decoration: none;
}

.dark .article-style a {
    text-decoration:underline;
}

.dark .article-style a:hover {
    transition: none;
    color: #2a2400;
    text-decoration: underline;
}

.dark .article-metadata a {
    color: #181487;
}

.dark .article-metadata a:hover {
    color: #181487;
}

a, h3.article-title a:hover {
    color: #5d5151;
    text-decoration: none;
    transition: none;
}

.dark .article-metadata {
    color: #301F9A;
}

.dark .badge-light {
    color: rgb(241, 223, 223);
    background: #181487;
}

.article-title a {
    color: #2a2400;
    transition: color 0.6s ease;
      transition-property: color;
      transition-duration: 0.6s;
      transition-timing-function: ease;
      transition-delay: 0s;
  }

.dark .home-section:nth-of-type(2n) {
    background: #F7F7F7;
}

.dark a, .dark h3.article-title a:hover {
    color: #1a0f0f;
}

.dark h3, .dark h4 {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.card .card-text a {
    color: #2a2400;
}

.dark .card-text p {
    color: #4a4040;
}

.btn-outline-primary {
    color: #7d314c;
    border-color: #7d314c;
}

.dark h2 {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.dark .page-subtitle {
    color: rgba(74, 60, 60, 0.88);
}

.btn-outline-primary:hover {
    color: #7d314c;
    border-color: #7d314c;
}

.card .btn:hover {
    background-color: #7d314c;
}

.card .card-text a:hover {
    color: #2a2400;
    
}

.dark a:hover {
    color: #5d5151;
}

.page-footer {
    background-color: #F7F7F7;
}

p {
    color: #2a2400;
}

.card {
    overflow: hidden;
    text-overflow: ellipsis;
    background: #F7F7F7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.btn-primary {
    background-color: #7d314c;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
    border-color: #7d314c;
}

.btn-toolbar .btn.btn-primary.active {
    background-color: #7d314c !important;
}



.btn.btn-sm, .btn-group-sm > .btn:hover {
    padding: 5px 0.4rem;
    font-size: 14px;
    border-radius: 0.2rem;
    background-color:transparent;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #35259b;
    color: white;
    border-color: #35259b;
}

.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem #7d314c;
}

.dark .search-header {
    background-color: #F7F7F7;
}

#search-box:active {
    transform: none;
    border-color:transparent;
    box-shadow:none;
}

.dark #search-query {
    background-color: #C62336;
}

.dark .search-modal {
    background-color: #F7F7F7;
}

.btn-toolbar .btn.btn-primary:hover, .btn-toolbar .btn.btn-primary:focus {
    background-color: #7d314c;
    transform: none;
    text-decoration: none;    
}

.dark .experience .card-text p {
    color: #2a2400 !important;
}

.dark pre {
    border-color: #44475a;
    color: #b65d5d;
}

.dark .experience .text-muted {
    color: #2a2400 !important;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.dark .text-muted {
    color: rgba(37, 6, 6, 0.69) !important;
}

.dark .experience .card-text {
    color: #2a2400 !important;
}

.dark .card {
    background: #F7F7F7;
}

.dark .portrait-title h2 {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
    color: #7d314c;
}

.experience .m-2 .border.exp-fill {
    background-color: #301F9A !important;
}

.experience .m-2 .border, .experience .col.border-right {
    border-color: #301F9A !important;
}

.dark h1 {
    color: #2a2400;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
}

.dark .navbar {
    background: #F7F7F7;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(238, 0, 0, 0.11);
}

.fas, .fa-search {
    color: #7d314c;
}

.dark #navbar-main .main-menu-item ul li .nav-link {
    color: #7d314c !important;
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
    font-size: 1.2vw;
    letter-spacing: .13vw;
}

.dark .portrait-title h3 {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
    color: #7d314c;
}

.kosugi-maru-regular {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Menlo', 'Consolas', 'Courier New', monospace;
    font-weight: 400;
    font-style: normal;
}

.big-icon {
    color: #7d314c;
}

.dark ul.share li a {
    color: #7d314c;
}

.dark ul.share li a:hover {
    color: #7d314c;
    transition: none;
    text-decoration: none;
}

.dark .fab:hover {
    color: #2a2400;
}

.dark .ai:hover {
    color: #2a2400;
}

.btn-primary:hover {
    color: #000000;
    background-color: #7d314c;
    border-color: #7d314c;
}

.dark .btn-primary, .dark .btn.btn-primary.active {
    color: #FFFFFF;
}

.dark .see-all a:hover {
    margin-top: 2rem;
    text-transform: uppercase;
    color:#2a2400;
}

@media screen and (max-width: 751px) and (max-width: 991.98px) {
    .dark #navbar-main .main-menu-item ul li .nav-link {
      font-size:2.25vw;
      letter-spacing: .2em;
    }
    #navbar-main .main-menu-item .nav-item {
        padding: 10px 15px !important;
        background-color: #F7F7F7;
    }
}

@media (max-width: 991.98px) {
    .dark #navbar-main .main-menu-item ul li .nav-link {
      font-size:2.25vw;
      letter-spacing: .2em;
    }
    #navbar-main .main-menu-item .nav-item {
        padding: 10px 15px !important;
        background-color: #F7F7F7;
    }
    .dark .navbar-collapse {
      background-color: #F7F7F7;
    }
}

@media screen and (max-width: 750px) and (max-height: 930px) {
    .dark #navbar-main .main-menu-item ul li .nav-link {
      font-size:3.8vw;
      letter-spacing: .2em;
    }
    #navbar-main .main-menu-item .nav-item {
        padding: 10px 15px !important;
        background-color: #F7F7F7;
    }
}

@media screen and (max-width: 668px) and (max-height: 380px) {
    .dark #navbar-main .main-menu-item ul li .nav-link {
      font-size:2.9vw;
      letter-spacing: .2em;
    }
    #navbar-main .main-menu-item .nav-item {
        padding: 10px 15px !important;
        background-color: #F7F7F7;
    }
}